<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuovo autore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <h1>Inserisci i dati nel nuovo autore: </h1>
        <form action="#" th:action="@{/autore}" th:object="${autore}" method="post">
            <div>
                <div>
                    <span th:text="#{label.nome}"></span>
                    <span><input type="text" th:field="*{nome}" /></span>
                    <span th:if="${#fields.hasErrors('nome')}" th:text="#{label.mandatory}">Error</span>
                </div>
                 <div>
                    <span th:text="#{label.cognome}"></span>
                    <span><input type="text" th:field="*{cognome}" /></span>
                    <span th:if="${#fields.hasErrors('cognome')}" th:text="#{label.mandatory}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.nazionalita}"></span>
                    <span><input type="text" th:field="*{nazionalita}" /></span>
                    <span th:if="${#fields.hasErrors('nazionalita')}" th:text="#{label.number}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.annoNascita}"></span>
                    <span><input type="text" th:field="*{annoNascita}" /></span>
                    <span th:if="${#fields.hasErrors('annoNascita')}" th:text="#{label.number}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.annoMorte}"></span>
                    <span><input type="text" th:field="*{annoMorte}" /></span>
                    <span th:if="${#fields.hasErrors('annoMorte')}" th:text="#{label.number}">Error</span>
                </div>
                <div>
                    <span><button type="submit">Submit</button></span>
                </div>
            </div>
        </form>
    </body>
</html>