<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1> Hai selezionato il seguente  autore: </h1>
	<div>
    	<p th:text="'Nome ' + ${autore.nome}" />
    </div>
	<div>
    	<p th:text="'Cognome ' + ${autore.cognome}" />
    </div>
	<div>
    	<p th:text="'Nazionalita ' + ${autore.nazionalita}" />	
    </div>
    <div>
    	<p th:text="'Anno di nascita ' + ${autore.annoNascita}" />	
    </div>
    <div>
    	<p th:text="'Anno di morte ' + ${autore.annoMorte}" />	
    </div>

<h1> Sei  interessato ai suoi quadri?! : </h1>


</body>
</html>