<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<title>Lista anni:</title>
</head>
<body>
<h1>Eccoti una lista dei quadri presenti nella galleria : </h1>
	<ul th:each="quadro : ${quadri}" >
			<li> <a th:href="@{'/infoQuadro?id=' + ${quadro.id}}"><span th:text="${quadro.anno}"></span></a></li>
	</ul>

</body>
</html>