<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
    <h2> Effettua registrazione</h2> <br/>
        <form action="#" th:action="@{/registrazione}" th:object="${utente}" method="post">
            <div>
                <div>
                    <span th:text="#{label.username}">Username: </span>
                    <span><input type="text" th:field="*{username}" /></span>
                    <span th:if="${#fields.hasErrors('username')}" th:text="#{label.err.registrazione}">Error</span>
                </div>
                <div>
                    <span th:text="#{label.password}">Password: </span>
                    <span><input type="password" th:field="*{password}" /></span>
                    <span th:if="${#fields.hasErrors('password')}" th:text="#{label.mandatory}">Error</span>
                </div>
               <br/>
                <div>
                    <span><button type="submit">Registrati</button></span>
                    <span> <button type="reset" > cancella </button></span>
                </div>
            </div>
        </form>
    </body>
</html>